body {
    background: url(lazypattern.png), black;
    font-family: 'Rubik', sans-serif;
    font-size: 14pt;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-top: .5em;
    margin-bottom: .5em;
}

ul {
    list-style-type: none;
    margin: .5em;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    border-bottom: solid white 3px;
}

/*
header a:link { color: black;}
header a:visited { color: black;}
header a:hover { color: black;}
header a:active { color: black;}
*/
.button{
    padding: 10px 5px;
    text-align: center;
    display: inline-block;
    width: 200px;
    border-radius: 2px;
    margin: 3px;
}

.button:hover{
    background-color: gray;
}

#container {
    border: solid 2px rgb(10, 7, 7);
    width: 70%;
    height: 30vw;
    margin: 70px auto;
    box-sizing: border-box;
    padding: 10px;
    background: black;
    border-radius: 5px;
    scroll-behavior: smooth;
}

.header {
    font-size: 18pt;
    font-weight: bold;
    width: 50%;
}

.pushover{
    padding: 100px;
}

.skillsholder{
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.projectdetails {
    height: 25vh;
    width: 90%;
    border: solid 1px;
    margin: 10px;
    position: relative;
    display: flex;
}

.projectthumbnail{
    height: 100%;
    //width: 50%;
    float: left;
    margin-right: 10px;
}

.projectwords {
    height: 97%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 2px;
}

    #gallery img {
        height: 200px;
        transition: .5s;
        padding: 5px;
    }

        #gallery img:hover {
            filter: drop-shadow(4px 4px 6px gray);
            transform: scale(1.1);
        }

footer {
    width: 100%;
    padding-bottom: 5px;
    font-size: 10pt;
    text-align: center;
    position: absolute;
    bottom: 0;
}